/*ESTILOS GLOBALES*/

h2.tituloPagina {
	font-family: Quicksand;
	font-style: normal;
	font-weight: 400;
	letter-spacing: 0em;
	text-align: center;
}

h4.nombreProducto {
	text-align: center;
	font-size: 2vh;
	font-family: Open Sans;
	font-style: normal;
	font-weight: 600;
	letter-spacing: 0em;
	margin: auto;
	margin-top: .8rem;
	width: 100%;
}

/*MÁS VENDIDOS*/

section#masVendidos {
	display: flex;
	flex: 0 40%;
	flex-wrap: wrap;
	justify-content: space-around;
}

section#masVendidos>div#tituloVendidos {
	width: 100%;
	text-align: center;
	font-size: 1.1rem;
	color: #56565A;
	margin-bottom: 1.1rem;
	display: flex;
	justify-content: center;
}

section#masVendidos>div#tituloVendidos>h2 {
	font-size: 1rem;
	margin-top: 1rem;
}

section#masVendidos>div#tituloVendidos>hr {
	width: 6.7rem;
	height: 1px;
	margin-left: 1rem;
	margin-right: 1rem;
	margin-top: 1.7rem;
}

section#masVendidos>article {
	width: 45%;
	margin-bottom: 2rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

section#masVendidos>article>a>picture>img {
	width: 100%;
	height: 100%;
	display: block;
	margin: auto;
}

section#masVendidos>article>a:nth-child(3) {
	font-family: Open Sans;
	font-size: 1.6vh;
	font-style: normal;
	font-weight: 300;
	line-height: 16px;
	letter-spacing: 0em;
	text-decoration: none;
	color: black;
	text-align: center;
}

section#masVendidos>article>span {
	display: block;
	margin: auto;
	margin-top: 0.2rem;
	cursor: pointer;
	font-size: 15px;
}

button#mostrarMasVendidos {
	width: 60%;
	height: 2.5rem;
	background-color: white;
	border: 1px solid black;
	font-family: Open Sans;
	font-size: 20px;
	font-style: normal;
	font-weight: 600;
	line-height: 18px;
	letter-spacing: 0em;
	text-align: center;
	cursor: pointer;
	display: block;
	margin: auto;
	margin-bottom: 2rem;
}

/*PUBLICIDAD DISPOSITIVO MÓVIL*/

.publicidad_query {
	display: none;
}

section#alojuPublicidad {
	margin-left: 2%;
	margin-right: 2%;
	display: flex;
	margin-top: -1rem;
	margin-bottom: 1rem;
	justify-content: center;
}

section#alojuPublicidad>picture>img {
	width: 100%;
	height: 100%;
}

/*PUBLICIDAD QUERY*/

div.publicidad_query>section {
	width: 50%;
}

div.publicidad_query>section#alojuPublicidadQuery {
	margin-left: 2%;
	margin-right: 2%;
	display: flex;
	margin-top: -1rem;
	margin-bottom: 1rem;
	justify-content: center;
}

div.publicidad_query>section#alojuPublicidadQuery>picture>img {
	width: 100%;
	height: 100%;
}

div.publicidad_query>section#coloreaPublicidadQuery {
	margin-left: 1rem;
	margin-right: 1rem;
	margin-top: -1rem;
	display: flex;
	margin-bottom: 1rem;
	justify-content: center;
}

div.publicidad_query>section#coloreaPublicidadQuery>picture>img {
	width: 100%;
	height: 100%;
}

@media all and (min-width: 700px) {
	section#masVendidos {
		justify-content: flex-start;
	}
	h4.nombreProducto {
		font-size: 1.6vh;
		margin-bottom: .5rem;
	}
	/*SECCION INDEX PRODUCTOS*/
	section#masVendidos>div#tituloVendidos>h2 {
		font-size: 25px;
	}
	section#masVendidos>div#tituloVendidos>hr {
		width: 30%;
		margin-top: 2rem;
		border-top: 2px solid lightgray;
	}
	section#masVendidos {
		flex: 0 20%;
	}
	section#masVendidos>article {
		width: 25%;
	}
	section#masVendidos>article>a>picture>img {
		width: 90%;
		height: 90%;
	}
	section#alojuPublicidad {
		display: none;
	}
	.publicidad_query {
		display: flex;
	}
}

@media all and (min-width: 1000px) {
	h4.nombreProducto {
		font-size: 2vh;
	}
}