/*ESTILOS GLOBALES*/
h2.tituloPagina {
	font-family: Quicksand;
	font-style: normal;
	font-weight: 400;
	letter-spacing: 0em;
	text-align: center;
}

h4.nombreProducto {
	text-align: center;
	font-size: 2vh;
	font-family: Open Sans;
	font-style: normal;
	font-weight: 600;
	letter-spacing: 0em;
    margin: auto;
    margin-top: .8rem;
}

/*MÁS VENDIDOS*/
section#masVendidos {
	display: flex;
	flex: 0 40%;
	flex-wrap: wrap;
	justify-content: space-around;
}

section#masVendidos>div#tituloVendidos {
	width: 100%;
	text-align: center;
	font-size: 1.1rem;
	color: #56565A;
	margin-bottom: 1.1rem;
	display: flex;
	justify-content: center;
}

section#masVendidos>div#tituloVendidos>h2 {
	font-size: 1rem;
	margin-top: 1rem;
}

section#masVendidos>div#tituloVendidos>hr {
	width: 6.7rem;
	height: 1px;
	margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1.7rem;
}

section#masVendidos>article {
	width: 45%;
	margin-bottom: 2rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

section#masVendidos>article>a>picture>img {
	width: 100%;
	height: 100%;
	display: block;
	margin: auto;
}

section#masVendidos>article>a:nth-child(3) {
	font-family: Open Sans;
	font-size: 1.6vh;
	font-style: normal;
	font-weight: 300;
	line-height: 16px;
	letter-spacing: 0em;
	text-decoration: none;
	color: black;
	text-align: center;
}

section#masVendidos>article>a {
	display: block;
	margin: auto;
	margin-top: 0.2rem;
}

section#masVendidos>button#mostrarMasVendidos {
	width: 60%;
	height: 2.5rem;
	background-color: white;
	border: 1px solid black;
	font-family: Open Sans;
	font-size: 20px;
	font-style: normal;
	font-weight: 600;
	line-height: 18px;
	letter-spacing: 0em;
	text-align: center;
	margin-bottom: 2rem;
	cursor: pointer;
}

/*PUBLI ALOJÚ*/
#coloreaPublicidad {
	display: none;
}

div#publicidad_query>section#alojuPublicidad {
	margin-left: 2%;
	margin-right: 2%;
	display: flex;
	margin-top: -1rem;
	margin-bottom: 1rem;
	justify-content: center;
}

div#publicidad_query>section#alojuPublicidad>picture>img {
	width: 100%;
	height: 100%;
}

/*COLOREA LA VIDA*/
div#publicidad_query>section#coloreaPublicidad {
	margin-left: 1rem;
	margin-right: 1rem;
	display: flex;
	margin-bottom: 1rem;
	justify-content: center;
	display: none;
}

div#publicidad_query>section#coloreaPublicidad>picture>img {
	width: 100%;
	height: 100%;
}