.video {
    width: 100%;
    min-height: 100%;
    height: auto !important;
    position: fixed;
    top: 0;
    left: 0;
}

.contenedorImagen {
    width: 100%;
    min-height: 100%;
    height: auto !important;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagenInicial {
    display: block;
    margin: auto;
    width: 50%;
}