.carousel {
    margin-top: 3.8rem;
}

/* .imagenFija {
    display: none;
}

.imagenFija>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
} */

.carousel-indicators>li {
    display: none;
}

@media all and (min-width: 700px) {
    .carousel {
        margin-top: 1rem;
    }

    .carousel>div>div.carousel-inner>div {
        height: 33rem;
    }

    .d-block {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    /* .imagenFija {
        display: block;
        margin-top: 1rem;
        height: 30rem;
    } */
}