.alojuPage {
    margin-top: 4.2rem;
    /* height: 100%; */
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #FFFFFF 4.17%, rgba(255, 255, 255, 0) 100%), url("https://proyecto-final-fran-aragon.netlify.app/images/pexels-dio-alif-utomo-1525589.jpg");
    background-size: 155%;
    background-repeat: no-repeat;
    border: 1px solid transparent;
}

p#lema_aloju {
    text-align: center;
    font-family: 'Open Sans';
    font-style: italic;
    font-size: 13px;
}

picture>img#imagen1_aloju {
    display: block;
    margin: auto;
    width: 90%;
}

section#origenes>p:first-child {
    font-family: Open Sans;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

section#origenes>p:not(:first-child) {
    font-family: Lato;
    font-size: 12px;
    margin-left: 5rem;
    margin-right: 5rem;
    text-align: left;
    margin-bottom: 1rem;
}

picture>img#imagen2_aloju {
    display: block;
    margin: auto;
    width: 90%;
}

section#vision>p:first-child {
    font-family: Open Sans;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

section#vision>p:not(:first-child) {
    font-family: Lato;
    font-size: 12px;
    margin-left: 5rem;
    margin-right: 5rem;
    text-align: left;
    margin-bottom: 1rem;
}

picture>img#imagen3_aloju {
    display: block;
    margin: auto;
    width: 90%;
}

section#rebeldia>p:first-child {
    font-family: Open Sans;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

section#rebeldia>p:not(:first-child) {
    font-family: Lato;
    font-size: 12px;
    margin-left: 5rem;
    margin-right: 5rem;
    text-align: left;
    margin-bottom: 9rem;
}